[Desktop Entry]
Name=CommanderDog
GenericName=Multi-Tab File Commander
Comment=Orthodox Multi-Tab File Commander by Woofson
Exec=/usr/local/bin/commanderdog --standalone
Icon=commanderdog
Terminal=false
Type=Application
Categories=Utility;FileManager;System;
Keywords=files;file manager;orthodox;commander;explorer;
StartupWMClass=commanderdog
